.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

body {
  color: gray;
}

.qlinks {
  color: black;
}

body {
  font-family: "Roboto", serif;
}